{% assign cProduct = product %}
<div class="row box-motos-description" style="background: {{ section.settings.bg_block }};">
	{% if product.handle contains "scrambler" %}
		<div class="triangle-right">
		</div>
	{% endif %}
	<div class="col-12 col-lg-6 content-description my-lg-auto">
		<div class="row">
			<div class="col-12">
				{% if cProduct.title != blank%}
					<p class="title">
						{{ cProduct.title }}
					</p>
				{% endif %}
				{% if cProduct.metafields.catalog.description.value != blank%}
					<div class="description-motos">
						{{ cProduct.metafields.catalog.description.value }}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row content-details-motos">
			<div class="col-12 col-lg-12">
				<div class="row">
					{% if cProduct.metafields.catalog.potencia.value != blank%}
						<div class="col-6 col-sm-6 col-lg-6">
							<p class="label mb-0">
								Potencia máxima del motor
							</p>
							<p class="description-label">
								{{ cProduct.metafields.catalog.potencia.value }}
							</p>
						</div>
					{% endif %}
					{% if cProduct.metafields.dlg.kilometraje_seminuevas != blank%}
						<div class="col-6 col-sm-6 col-lg-6">
							<p class="label mb-0">
								Kilometraje
							</p>
							<p class="description-label">
								{{ cProduct.metafields.dlg.kilometraje_seminuevas }}
							</p>
						</div>
					{% endif %}
					{% if cProduct.metafields.dlg.torque != blank%}
						<div class="col-6 col-sm-6 col-lg-6">
							<p class="label mb-0">
								Torque
							</p>
							<p class="description-label">
								{{ cProduct.metafields.dlg.torque }}
							</p>
						</div>
					{% endif %}
					{% if cProduct.metafields.dlg.anio_moto != blank%}
						<div class="col-6 col-sm-6 col-lg-6">
							<p class="label mb-0">
								Año
							</p>
							<p class="description-label">
								{{ cProduct.metafields.dlg.anio_moto }}
							</p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if cProduct.price != blank%}
			<ul class="d-block d-lg-flex list-unstyled m-0 p-0">
				<li class="price my-auto">
					{{ cProduct.price | money }}
				</li>
				{% if section.settings.btn_url != blank %}
					<li class="content-button my-auto">
						<a href="{{ section.settings.btn_url }}" target="_blank" class="btn text-uppercase">
							Contactar a un asesor
						</a>
					</li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
	{% if cProduct.metafields.catalog.image.value != blank%}
		<div class="col-12 col-lg-6 content-image my-lg-auto">
			{{ cProduct.metafields.catalog.image.value | remove_first: 'files/' | file_url  | img_tag: 'motos seminuevas','img-fluid w-100' }}
		</div>
	{% endif %}
	{% if product.handle contains "scrambler" %}
		<div class="triangle-bottom">
		</div>
	{% endif %}
</div>
