<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-11 col-sm-11 col-lg-12 col-xl-11 col-xxl-9">
			<div class="row content-des-icons justify-content-center">
				<div class="col-12">
					<div class="row">
						{% for block in section.blocks %}
							<div class="col-12 col-sm-4 col-lg-4 mb-3 mb-sm-0 block-icons-description">
								<div class="d-flex box-content-flex d-sm-block d-lg-flex me-3 text-start text-sm-center text-lg-start">
									<div class="flex-shrink-0">
										{% if block.settings.image_icono != blank %}
											<img class="lazyload mb-0 mb-sm-3 mb-lg-0 img-fluid"
											     data-src="{{ block.settings.image_icono | img_url:"master" }}"
											     data-aspectratio="{{ preview_image.aspect_ratio }}"
											     width="{{ block.settings.image_icono.width }}"
											     height="{{ block.settings.image_icono.width | divided_by: block.settings.image_icono.aspect_ratio | round }}"
											     alt="{{ preview_image.alt | escape }}">
										{% endif %}
									</div>
									<div class="flex-grow-1 ms-2">
										{% if block.settings.title != blank %}
											<p class="title mb-0">
												{{ block.settings.title }}
											</p>
										{% endif %}
										{% if block.settings.description != blank %}
											<div class="description">
												{{ block.settings.description }}
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
{
"name": "Iconos Atencion",
"class": "section-contenedor-icons-business",
"max_blocks": 3,
"settings": [],

"blocks": [
{
"type": "text_block",
"name": "Column",
"settings": [
{
"type": "header",
"content": "==== Icono ===="
},
{
"type": "image_picker",
"id": "image_icono",
"label": "Icono"
},
{
"type": "header",
"content": "==== Titulo ===="
},
{
"type": "text",
"id": "title",
"label": "Titulo"
},
{
"type": "header",
"content": "==== Descripción ===="
},
{
"type": "richtext",
"id": "description",
"label": "Descripción"
}
]
}
],
"presets": [
{
"name": "Iconos Atencion",
"category": "image & text"
}
]
}
{% endschema %}
