<style>
  .page_ducati .agusta-menu-final, .Ducati .agusta-menu-final, .ducati .agusta-menu-final {
    margin-top: 130px;
    background: #FFF;
  }
  .list-collections__grid {
    margin: 0 -20px -40px 20px;
  }
  @media screen and (min-width: 1024px){
    .list-collections__grid {
      margin: 0 -20px -40px;
    }
  }
  @media screen and (min-width: 768px){
    .list-collections__grid {
      margin: 0 -10px -20px;
    }
  }
  .list-collections__grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    justify-content: center;
  }
  .text-light {
    color: #fff;
  }
  @media screen and (min-width: 1024px){
    .list-collections__grid .list-collections__slide {
      width: calc(21% - 40px);
    }
  }
  @media screen and (min-width: 768px){
    .list-collections__grid[data-columns="1"] .list-collections__slide, .list-collections__grid[data-columns="2"] .list-collections__slide, .list-collections__grid[data-columns="3"] .list-collections__slide, .list-collections__grid[data-columns="4"] .list-collections__slide {
      width: calc(50% - 20px);
    }
  }
  .list-collections__grid .list-collections__slide {
    margin: 0 15px 60px;
    width: calc(21% - 30px);
  }
  .list-collections__grid .list-collections__slide {
    padding: 0;
    margin: 0 -1px 40px;
	  position: relative;
  }
  @media screen and (min-width: 1024px){
    [data-columns="4"] .list-collections__slide {
      width: calc(23vw - 23px);
    }
  }
  .list-collections__slide {
    padding-right: 50px;
  }
  #ListCollections[data-section-id="1615337924241cf230"] .list-collections__slide-image {
    padding-top: 150.0%;
  }
  .text-light .list-collections__slide-image {
    background-color: #000;
  }
  .list-collections__slide-image {
    height: 100%;
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  .list-collections__slide-image {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 140%;
  }
  .list-collections__slide-image-bg {
    left: -20%;
    -webkit-transform: skew(12deg);
    -ms-transform: skew(12deg);
    transform: skew(12deg);
    width: 140%;
  }
  .list-collections__slide-image-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -50px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: none;
  }
  .list-collections__slide-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
  }
  a.col-list-text {
    position: absolute;
    left: 17%;
    text-align: center;
    bottom: 10%;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans Condensed Bold';
    font-size: 15px;
    line-height: 18px;
  }
  a.col-list-text h3 {
    font-size: 17px;
  }
  a.col-list-text button {
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid;
    font-size: 15px;
  }
  .page_ducati .box-menu-banner-end:before, .Ducati .box-menu-banner-end:before, .ducati .box-menu-banner-end:before{
    width: 290%;
  }
  @media (min-width: 576px){
    .list-collections__slide-image-bg {
      left: -56px;
    }
    a.col-list-text {
      font-size: 20px;
      line-height: 23px;
    }
    .page_ducati .box-menu-banner-end:before, .Ducati .box-menu-banner-end:before, .ducati .box-menu-banner-end:before{
      width: 157%;
    }
  }
  @media (min-width: 992px){
    .list-collections__slide-image-bg {
      left: -50px;
    }
    a.col-list-text {
      font-size: 15px;
      line-height: 18px;
    }
    .page_ducati .box-menu-banner-end:before, .Ducati .box-menu-banner-end:before, .ducati .box-menu-banner-end:before{
      width: 100%;
    }
  }
  @media (min-width: 1280px){
	  .list-collections__grid .list-collections__slide:nth-child(2) a.col-list-text{
      left: 4%;
	  }
    .list-collections__grid .list-collections__slide:nth-child(3) a.col-list-text{
      left: 4%;
    }
    .list-collections__slide-image-bg {
      left: -49px;
    }
    a.col-list-text {
      font-size: 20px;
      line-height: 28px;
    }
    .page_ducati .box-menu-banner-end:before, .Ducati .box-menu-banner-end:before, .ducati .box-menu-banner-end:before{
      width: 100%;
    }
  }
  @media (min-width: 1800px){
    .list-collections__slide-image-bg {
      left: -75px;
    }
    a.col-list-text {
      font-size: 25px;
      line-height: 28px;
    }
    .page_ducati .box-menu-banner-end:before, .Ducati .box-menu-banner-end:before, .ducati .box-menu-banner-end:before{
      width: 100%;
    }
  }
</style>
<div class="container-fluid">
	<div class="row justify-content-lg-center box-menu-banner-end">
		<div class="col-12  col-sm-10 col-lg-12 col-xxl-10 content-images-menu">
			<div class="collection-grid">
				<div class="list-collections__grid text-light" data-text-position="bottom_left" data-color-style="light">
					<div class="list-collections__slide ">
						<a href="{{ section.settings.button_link }}" class="list-collections__slide-image">
							<div class="list-collections__slide-image-bg lazyloaded" data-bgset="{{ section.settings.image | img_url:"master" }}" data-aspectratio="0.8" style="background-image: url({{ section.settings.image | img_url:"master" }});">
							</div>
							<div class="list-collections__slide-overlay" style="opacity:0.1;"></div>
						</a>
						<a href="{{ section.settings.button_link }}" class="col-list-text">
							{{ section.settings.button_text }}
						</a>
					</div>
					<div class="list-collections__slide ">
						<a href="{{ section.settings.button_link_2 }}" class="list-collections__slide-image">
							<div class="list-collections__slide-image-bg lazyloaded" data-bgset="{{ section.settings.image_1 | img_url:"master" }}" data-aspectratio="0.8" style="background-image: url({{ section.settings.image_1 | img_url:"master" }});">
							</div>
							<div class="list-collections__slide-overlay" style="opacity:0.1;"></div>
						</a>
						<a href="{{ section.settings.button_link }}" class="col-list-text">
							{{ section.settings.button_text_2 }}
						</a>
					</div>
					<div class="list-collections__slide ">
						<a href="{{ section.settings.button_link_3 }}" class="list-collections__slide-image">
							<div class="list-collections__slide-image-bg lazyloaded" data-bgset="{{section.settings.image_2 | img_url:"master" }}" data-aspectratio="0.8" style="background-image: url({{section.settings.image_2 | img_url:"master" }});">
							</div>
							<div class="list-collections__slide-overlay" style="opacity:0.1;"></div>
						</a>
						<a href="{{ section.settings.button_link_3 }}" class="col-list-text">
							{{ section.settings.button_text_3 }}
						</a>
					</div>
					<div class="list-collections__slide ">
						<a href="{{ section.settings.button_link_4 }}" class="list-collections__slide-image">
							<div class="list-collections__slide-image-bg lazyloaded" data-bgset="{{section.settings.image_3 | img_url:"master" }}" data-aspectratio="0.8" style="background-image: url({{section.settings.image_3 | img_url:"master" }});">
							</div>
							<div class="list-collections__slide-overlay" style="opacity:0.1;"></div>
						</a>
						<a href="{{ section.settings.button_link_4 }}" class="col-list-text">
							{{ section.settings.button_text_4 }}
						</a>
					</div>
					<div class="list-collections__slide ">
						<a href="{{ section.settings.button_link_5 }}" class="list-collections__slide-image">
							<div class="list-collections__slide-image-bg lazyloaded" data-bgset="{{section.settings.image_4 | img_url:"master" }}" data-aspectratio="0.8" style="background-image: url({{section.settings.image_4 | img_url:"master" }});">
							</div>
							<div class="list-collections__slide-overlay" style="opacity:0.1;"></div>
						</a>
						<a href="{{ section.settings.button_link_5 }}" class="col-list-text">
							{{ section.settings.button_text_5 }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
{
"name": "Menu bottom end Ducati",
"class": "agusta-menu-final",
"settings": [
{
"type": "header",
"content": "==== Imagenes background ===="
},
{
"type": "image_picker",
"id": "image",
"label": "1° imagen"
},
{
"type": "image_picker",
"id": "image_1",
"label": "2° imagen"
},
{
"type": "image_picker",
"id": "image_2",
"label": "3° imagen"
},
{
"type": "image_picker",
"id": "image_3",
"label": "4° imagen"
},
{
"type": "image_picker",
"id": "image_4",
"label": "5° imagen"
},
{
"type": "header",
"content": "==== Botones ===="
},
{
"type": "text",
"id": "button_text",
"label": "1° botón label"
},
{
"type": "url",
"id": "button_link",
"label": "1° botón link"
},
{
"type": "text",
"id": "button_text_2",
"label": "2° botón label"
},
{
"type": "url",
"id": "button_link_2",
"label": "2° botón link"
},
{
"type": "text",
"id": "button_text_3",
"label": "1° botón label"
},
{
"type": "url",
"id": "button_link_3",
"label": "3° botón link"
},
{
"type": "text",
"id": "button_text_4",
"label": "1° botón label"
},
{
"type": "url",
"id": "button_link_4",
"label": "4° botón link"
},
{
"type": "text",
"id": "button_text_5",
"label": "5° botón label"
},
{
"type": "url",
"id": "button_link_5",
"label": "5° botón link"
}
],
"presets": [
{
"name": "Menu bottom end Ducati",
"category": "Image & link"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
