{% if section.settings.enable_inicio_tab %}
<div class="container-fluid motos-augusta">
  <div class="row justify-content-center block-content-tabs-information" id="motos-nuevas">
    <div class="col-11 col-lg-12">
      {% endif %}
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link {% if section.settings.enable_inicio %}active{% endif %}" id="{{section.settings.title}}-tab" data-bs-toggle="tab" data-bs-target="#{{section.settings.title}}" type="button" role="tab" aria-controls="{{section.settings.title}}" aria-selected="{% if section.settings.enable_inicio %}true{% else %} true {% endif %}">
            {{section.settings.title}}
          </button>
        </li>
        {% if section.settings.enable_final %}
      </ul>
      {% endif %}
      {% if section.settings.enable_inicio_tab %}
      <div class="tab-content" id="myTabContent">
        {% endif %}
        <div class="tab-pane fade  {% if section.settings.enable_inicio %}show active{% endif %}" id="{{section.settings.title}}" role="tabpanel" aria-labelledby="{{section.settings.title}}-tab">
          <div class="row justify-content-center">
            <div class="col-11 col-sm-11 col-lg-12 col-xl-11 col-xxl-10">
              {% for block in section.blocks %}
              <div class="row box-motos-description" style="background: {{ block.settings.bg_block }};">
                <div class="col-12 col-lg-6 content-description my-lg-auto">
                  <div class="row">
                    <div class="col-12">
                      {% if block.settings.title != blank%}
                      <p class="title">
                        {{ block.settings.title }}
                      </p>
                      {% endif %}
                      {% if block.settings.description != blank%}
                      <div class="description-motos">
                        {% assign shortdesc = block.settings.description | split: '[shortdesc]' | last %}
                        {% assign splitShortDesc = shortdesc | split: "|" %}
                        <p class="description">
                          {{ splitShortDesc[1] | split: '[/shortdesc]' | first  | truncatewords: 15 }}
                        </p>
                         <p class="description">
                          {{ splitShortDesc[2] | split: '[/shortdesc]' | first  | truncatewords: 15 }}
                        </p>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row content-details-motos">
                    <div class="col-12 col-lg-12">
                      <div class="row">
                        {% if block.settings.description_label != blank%}
                        <div class="col-6 col-sm-6 col-lg-6">
                          <p class="label mb-0">
                            Tipo de motor
                          </p>
                          <p class="description-label">
                            {{ block.settings.description_label }}
                          </p>
                        </div>
                        {% endif %}
                        {% if block.settings.description_label_motor != blank%}
                        <div class="col-6 col-sm-6 col-lg-6">
                          <p class="label mb-0">
                            Potencia máxima del motor
                          </p>
                          <p class="description-label">
                            {{ block.settings.description_label_motor }}
                          </p>
                        </div>
                        {% endif %}
                        {% if block.settings.description_label_total != blank%}
                        <div class="col-6 col-sm-6 col-lg-6">
                          <p class="label mb-0">
                            Desplazamiento total del motor
                          </p>
                          <p class="description-label">
                            {{ block.settings.description_label_total }}
                          </p>
                        </div>
                        {% endif %}
                        {% if block.settings.description_label_par != blank%}
                        <div class="col-6 col-sm-6 col-lg-6">
                          <p class="label mb-0">
                            Par máximo del motor
                          </p>
                          <p class="description-label">
                            {{ block.settings.description_label_par }}
                          </p>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% if block.settings.price != blank%}
                  <ul class="d-block d-lg-flex list-unstyled m-0 p-0">
                    <li class="price my-auto">
                      {{ block.settings.price }}
                    </li>
                    {% if block.settings.button_link != blank%}
                    <li class="content-button my-auto">
                      <a href="{{ block.settings.button_link }}" {% if block.settings.enable_target %}target="_blank" {% endif %} class="btn text-uppercase">
                        {{ block.settings.button_label }}
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </div>
                {% if block.settings.image != blank%}
                <div class="col-12 col-lg-6 content-image my-lg-auto">
                  {{ block.settings.image | img_url: 'master' | img_tag: 'motos seminuevas','img-fluid w-100' }}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% if section.settings.enable_final %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% schema %}

{
"name": "Agusta prueba",
"class": "agusta-tabs-brutale",
    "settings": [
	{
              "type": "header",
              "content": "==== Inicio de Tabs ===="
          },
{
          "type": "checkbox",
          "id": "enable_inicio_tabs",
          "label": "¿Inicias sección de tabs?",
          "default": true
        },
{
          "type": "checkbox",
          "id": "enable_inicio",
          "label": "¿Es tu primer tab?",
          "default": true
        },
{
          "type": "checkbox",
          "id": "enable_final",
          "label": "¿Es tu ultimo tab?",
          "default": true
        },
 {
              "type": "header",
              "content": "==== Titulo ===="
          },
          {
              "type": "text",
              "id": "title",
              "label": "Titulo"
          }

],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
         {
              "type": "header",
              "content": "==== Color del bloque ===="
          },
	 {
              "type": "color",
              "id": "bg_block",
              "label": "Background",
			"default": "#f5f5f5"
          },
          {
              "type": "header",
              "content": "==== Titulos ===="
          },
          {
              "type": "text",
              "id": "title",
              "label": "Titulo"
          },
	      {
              "type": "header",
              "content": "==== Descripción ===="
          },
	  	 {
              "type": "richtext",
              "id": "description",
              "label": "Descripción"
          },
			{
              "type": "header",
              "content": "==== Detalles de la moto ===="
          },
		{
              "type": "text",
              "id": "description_label",
              "label": "Tipo de motor"
          },
		{
              "type": "text",
              "id": "description_label_motor",
              "label": "Potencia de motor"
          },
	{
              "type": "text",
              "id": "description_label_total",
              "label": "Desplazamiento de motor"
          },
	{
              "type": "text",
              "id": "description_label_par",
              "label": "Par de motor"
          },
			{
              "type": "text",
              "id": "price",
              "label": "Precio"
          },
	{
              "type": "header",
              "content": "==== Botón ===="
          },
{
          "type": "checkbox",
          "id": "enable_target",
          "label": "Abrir en página aparte",
          "default": true
        },
		{
			"type": "text",
			"id": "button_label",
			"label": "Botón label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Botón link"
		},
	{
              "type": "header",
              "content": "==== Imagen de moto ===="
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
     "name": "Agusta prueba",
        "category": "Tabs",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
