<style>
    .banner-second {
        background: url({{section.settings.bg_mobile | img_url: 'master'}});
    }
    @media(min-width: 992px) {
        .banner-second {
            background: url( {{section.settings.bg_desktop | img_url: 'master'}} );
        }
    }
</style>
<div class="row justify-content-center block-content-banner-second">
	<div class="triangle-right">
	</div>
	<div class="col-12">
		<div class="row banner-second">
			<div class="col-12 mt-auto content-des-banner-sec my-lg-auto">
				{% if section.settings.title != blank%}
					<p class="title-banner text-center">
						{{ section.settings.title }}
					</p>
				{% endif %}
				{% if section.settings.subtitle != blank%}
					<p class="subtitle-banner text-center">
						{{ section.settings.subtitle }}
					</p>
				{% endif %}
				{% if section.settings.button_link != blank%}
					<p class="content-button text-center">
						<a href="{{ section.settings.button_link}}" {% if section.settings.enable_target %}target="_blank" {% endif %}  class="btn text-uppercase">
							{{ section.settings.button_label }}
						</a>
					</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="triangle-bottom">
	</div>
</div>

{% schema %}
{
"name": "Banner secondary nuevas",
"class": "agusta-seminuevas-banner-sec",
"settings": [
{
"type": "header",
"content": "==== Imagen background ===="
},
{
"type": "image_picker",
"id": "bg_desktop",
"label": "Banner desktop"
},
{
"type": "image_picker",
"id": "bg_mobile",
"label": "Banner mobile"
},
{
"type": "header",
"content": "==== Titulo & texto ===="
},
{
"type": "text",
"id": "title",
"label": "Titulo"
},
{
"type": "text",
"id": "subtitle",
"label": "Subtitulo"
},
{
"type": "header",
"content": "==== Bot칩n ===="
},
{
"type": "checkbox",
"id": "enable_target",
"label": "Abrir en p치gina aparte",
"default": true
},
{
"type": "text",
"id": "button_label",
"label": "Bot칩n label"
},
{
"type": "url",
"id": "button_link",
"label": "Bot칩n link"
}
]
}
{% endschema %}
